.description {
  background: #06beb6;
  background: -webkit-linear-gradient(to right, #48b1bf, #06beb6);
  background: linear-gradient(to right, #48b1bf, #06beb6);
  color: rgb(0, 0, 0);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  padding: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.411);
}

.featured {
  margin: 15px;
  margin-bottom: 30px;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    h1 {
      text-transform: capitalize;
      font-size: 2.2em;
      font-weight: 600;
      color: #000000;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.351);
    }

    p {
      flex: 3;
      color: gray;
    }
  }

  .bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }

  img {
    width: 17%;
  }
}
