.description {
  background: #06beb5b6;
  background: -webkit-linear-gradient(to right, #48b1bfa7, #06beb5b0);
  background: linear-gradient(to right, #48b1bfa7, #06beb5b0);
  color: rgb(0, 0, 0);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  padding: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.411);
}

.featured {
  margin: 15px;
  margin-bottom: 30px;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    h1 {
      text-transform: uppercase;
      font-size: 2em;
      color: #000000;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.351);
      margin-left: 10px;
      font-family: "Comfortaa", cursive;
      font-family: "Space Grotesk", sans-serif;
      margin-right: 7px;
    }

    h4 {
      color: rgb(0, 0, 0);
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0.174);
      margin: 5px;
      margin-top: 5px;
    }
  }

  .bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }

  img {
    width: 11%;
    margin-left: 5px;
  }
}

.loader {
  display: block;
  --height-of-loader: 4px;
  --loader-color: #06beb5b6;
  width: 130px;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}

@media (max-width: 940px) {
  .featured {
    .top {
      h1 {
        font-size: 1em;
      }

      h4 {
        font-size: 0.8em;
      }
    }
    img {
      width: 12%;
    }
  }
}

@media (max-width: 670px) {
  .featured {
    .top {
      h1 {
        font-size: 0.9em;
      }

      h4 {
        font-size: 0.8em;
      }
    }
    img {
      width: 17%;
    }

    .bottom {
      gap: 20px;
    }
  }
}

@media (max-width: 490px) {
  .featured {
    .top {
      h1 {
        font-size: 0.8em;
      }

      h4 {
        font-size: 0.6em;
      }
    }
    img {
      width: 20%;
    }
    .bottom {
      gap: 10px;
    }
  }
}
