.products {
  padding: 30px 50px;
  display: flex;

  .left {
    flex: 1;
    position: sticky;
    height: 100%;
    top: 50px;

    .filterItem {
      margin-bottom: 30px;

      h2 {
        font-weight: 600;
        margin-bottom: 20px;
      }

      .inputItem {
        margin-bottom: 10px;
        display: flex;
        align-items: center;

        label {
          margin-left: 10px;
          color: #555;
        }

        input[type="checkbox"],
        input[type="radio"] {
          appearance: none;
          width: 18px;
          height: 18px;
          border: 2px solid #ccc;
          border-radius: 50%;
          outline: none;
          margin-right: 10px;

          &:checked {
            background-color: #06beb5b6;
          }
        }

        input[type="range"] {
          flex: 0.5;
          appearance: none;
          height: 4px;
          border-radius: 2px;
          background-color: #ccc;
          outline: none;

          &::-webkit-slider-thumb {
            appearance: none;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: #06beb5b6;
            cursor: pointer;
          }

          &::-moz-range-thumb {
            width: 16px;
            height: 16px;
            border: none;
            border-radius: 50%;
            background-color: #555;
            cursor: pointer;
          }
        }
      }
    }
  }

  .right {
    flex: 3;

    .catImg {
      width: 100%;
      height: 300px;
      object-fit: cover;
      margin-bottom: 50px;
      margin-left: 15px;
      border-radius: 30px;
    }
  }
}
