body {
  background: #abbaab; 
  background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  
  background: linear-gradient(to right, #ffffff, #abbaab); 
}

.app{

    .link{
      color: inherit;
      text-decoration: none;
    }
  }