body {
  background: #EDE574; 
  background: -webkit-linear-gradient(to right, #E1F5C4, #EDE574); 
  background: linear-gradient(to right, #E1F5C4, #EDE574); 
}

.app{

    .link{
      color: inherit;
      text-decoration: none;
    }
  }